<h2> Prehistoric Creatures</h2>
<ul>
    <% creatures.forEach((creature,i) => { %>
      <a href="/prehistoric_creatures/<%= i %> "> <li><h2><%= creature.type %></h2></li> </a>
      <!-- going to edit.ejs -->
      <form action="/prehistoric_creatures/edit/<%= i %>" style="display: inline;">
        <button type="submit">Edit</button> 
      </form>  
      <form action="/prehistoric_creatures/<%= i%>/?_method=DELETE" method="post" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    <% }) %>

</ul>
</br>
<div>
  <a href="prehistoric_creatures/new">
    <button type="submit">Add a new Creature</button>
  </a>
</div>

