<form action="/prehistoric_creatures" method="POST">
    <div>
        <label for="phCreatureType">Type:</label>
        <input type="text" name="type" id="phCreatureType">
    </div>
    <div>
        <label for="phCreatureImg">Img:</label>
        <input type="text" name="img_url" id="phCreatureImg">
    </div>
    
    
    <button type="submit">Add a New Creature!</button>

</form>